html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    text-align: left;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Muli", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
}

.github-fork-ribbon:before {
    background-color: #fa9107;
}

.header {
    position: static;
    width: 100%;
    z-index: 100;
}

.header + section {
    padding-top: 8rem;
}

article > section:not(:first-child) {
    margin-top: 3.125rem;
}

.section-title::before {
    content: '';
    flex-grow: 1;
    margin-right: .625rem;
    border-top: 1px solid #fa9107;
}

.section-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 3.75rem;
    flex: 0;
    width: 100%;
    margin-bottom: 15px;
}

.section-title::after {
    content: '';
    flex-grow: 1;
    margin-left: .625rem;
    border-top: 1px solid #fa9107;
}

.section-title + img {
    padding-bottom: 20px;
}

p {
    line-height: 1.8;
    margin-bottom: 20px;
}

.container {
    max-width: 1100px;
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.container-flex-content {
    flex-grow: 1;
    flex-shrink: 0;
}

.toc {
    list-style: none;
    margin-top: 2rem;
    font-family: "Muli", sans-serif;
    font-weight: 400;
}

.toc-link {
    display: block;
    transition: all 0.2s;
    transition-delay: 0s;
    position: relative;
    width: 100%;
    font-size: 1rem;
    color: #000;
    border-left: 2px solid transparent;
    padding: 0.5rem 1rem;
    box-sizing: content-box;
}

.toc-link:hover {
    border-color: #fa9107;
}

.footer {
    height: 80px;
}

.footer .container {
    background-color: #fa9107;
}

.footer p {
    margin: 10px 0px 0px 0px;
    color: #fff;
    font: 700 0.85em "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.54em;
}